@media (max-width:600px) {
    .block {
        padding: 0.2rem;
    }
    .page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 2.5rem 1fr 10rem 3rem;
        grid-template-areas: "hd" "br" "ct" "sb" "ft";
        font-size: 0.75rem;
    }
    .header {
        grid-area: hd;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        border-bottom: solid #444;
    }
    .nav_bar {
        grid-area: br;
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        border-bottom: solid #444;
    }
    .content {
        grid-area: ct;
        padding: 1rem;
    }
    .side_bar {
        grid-area: sb;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1rem;
        background-color: #444;
        color: #fff;
    }
    .side_block {
        padding: 0.25rem;
    }
    .footer {
        grid-area: ft;
        display: flex;
        justify-content: center;
        border-top: solid #444;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        color: #444;
    }
    .card {
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        background-color: beige;
    }
    .card:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .card_img {
        width: 100%;
    }
    .container {
        padding: 0.25rem 0.5rem;
    }
    .nav_link {
        padding: 0.5rem 0.5rem;
        border-left: solid #444;
    }
}